<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <input type="file" (change)="onFileChange($event)" />
  <button type="submit" [disabled]="formGroup.invalid || formGroup.prestine">Submit</button>
  <button type="button" [disabled]="formGroup.invalid || formGroup.prestine" (click)="saveFile()">Save file</button>
  <button type="button" (click)="creeteXLSX()">Save EXEL file</button>
</form>

<table class="sjs-table">
  <tr *ngFor="let row of data">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>

<input type="text"[(ngModel)]="name">
<button (click)="showName()">Show Name</button>
<router-outlet></router-outlet>
