<header>
    <mat-icon class="main-logo"matSuffix>repeat</mat-icon>
    <span class="title">FormatStandardify.io</span>
    <button class="login-button" mat-button type="button" >Login</button>
</header>

<section>
    <form [formGroup]="formatForm" novalidate (ngSubmit)="onSubmit()">
        <input type="file"name="file" id="file" class="inputfile" (change)="onFileChange($event)" required/>
        <label for="file">Choose a file</label>
        <span class="filename">{{fileName}}</span>
        <mat-form-field class="selectFormat">
            <mat-select formControlName="format" placeholder="Select a team" required> 
                <mat-option *ngFor="let format of all_formats" [value]="format">
                    {{format}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button  type="submit" [disabled]="formatForm.invalid" class="control-botton">Submit</button>
        <button mat-button  type="button" [disabled]="!readyToSaveExcel" (click)="creeteXLSX()" class="control-botton">Save EXСEL file</button>
    </form>

</section>
<footer>
    {{currentYear}} | created by Yurii Zityniuk
</footer>

<router-outlet></router-outlet>
