<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <input type="file" (change)="onFileChange($event)"/> <br>
  <button mat-button color="primary" type="submit" [disabled]="formGroup.invalid || !choosenFormat">Submit</button>
  <button mat-button color="primary" type="button" [disabled]="false" (click)="saveFile()">Save file</button>
  <button mat-button color="primary" type="button" [disabled]="!readyToSaveExcel" (click)="creeteXLSX()">Save EXСEL file</button>
</form>

<div class="pick-format">
  <label id="example-radio-group-label">Pick your favorite format</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="choosenFormat">
    <mat-radio-button class="example-radio-button" *ngFor="let format of all_formats" [value]="format">
      {{format}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Choosed format is: {{choosenFormat}}</div>
</div>

<router-outlet></router-outlet>
